<!DOCTYPE html>
<html>
	{% load leaflet_tags %}
	<head>
		<meta charset="UTF-8">
		<title>Map in Django</title>
		{% leaflet_js %}
		{% leaflet_css %}
		<style>
		    .leaflet-container {
			    height: 600px;
		    }
		</style>
	</head>
	<body>
		<h2>Devices list:</h2>
		{% for dev in devices %}
		<h4>Nome: {{ dev.name }}</h4>
		id: {{ dev.devID }}<br>
		location: {{ dev.location.name }}<br>
		<hr>
		{% endfor %}
		Done
		<script type="text/javascript">
		    function map_init_basic(map, option){
			    {% for dev in devices %}
			    L.marker([{{ dev.location.latitude }},{{ dev.location.longitude }}]).addTo(map).bindPopup("Location: {{ dev.location.name }}<br>Device: {{ dev.name }}<br>ID: {{ dev.devID }}");
			    {% endfor %}
		    }
		</script>
		{% leaflet_map "yourmap" callback="window.map_init_basic" %}
	</body>
</html>
